:root {

  --dark-green: #036b52;

  --light-green: #2fc18c;

  --purple: #421981;

  --blue: #056cf9;
}

.dark-green {
  background-color: var(--dark-green);
}

.light-green {
  background-color: var(--light-green);
}

.purple {
  background-color: var(--purple);
}

.blue {
  background-color: var(--blue);
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}